{{ define "header" }}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>goda - GitOps demo using Cloud Build and Knative</title>
    <meta charset="UTF-8">
    <meta name="description" content="GitOps demo using Cloud Build and Knative">
    <meta name="keywords" content="google, git, build, golang, knative">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Pragma" content="-1">
    <link href="static/img/favicon.ico" rel="shortcut icon" />
    <link rel="stylesheet" href="static/css/app.css" />
</head>

<body>

    <div id="wrapper">

        <!-- Header -->
        <div id="page-header">
            <div id="page-header-image">
                <img src="static/img/knative-logo.png" />
            </div>
        </div>


        {{end}}